<div class="footer px-8">

  <div class="bg-gray-700 p-4 px-8 flex gap-2 rounded-t-3xl">
    <div class="p-2 rounded-full bg-green-500"></div>
    <div class="p-2 rounded-full bg-orange-500"></div>
    <div class="p-2 rounded-full bg-red-500"></div>
  </div>
  <div class=" border-2 border-gray-700  bg-orange-50 w-full py-10 ">
    <div class="flex flex-col lg:flex-row gap-4 justify-between items-center max-w-6xl mx-auto">
      <div
        class="flex items-center gap-2 justify-start logo"
      >
        <div><img src="logo1.svg" alt="" width="50" /></div>
        <div>
          <h1 class="text-xl font-semibold text-gray-900">
            ClearMy<span class="text-[#F5702F]">Dev</span>
          </h1>
        </div>
      </div>
      <div>© Copyright 2026. All rights reserved</div>
      <div class="flex items-center justify-center gap-4">
        <a href="/terms-of-use" class="text-sm hover:text-blue-600 cursor-pointer">Terms of use</a>
        <div class="text-gray-500">|</div>
        <a href="/privacy-policy" class="text-sm hover:text-blue-600 cursor-pointer">Privacy policy</a>
        <div class="text-gray-500">|</div>
        <a href="" class="text-sm hover:text-blue-600 cursor-pointer">Security</a>
      </div>
      <!-- <div class="flex items-center justify-center gap-4">
  
      </div> -->
    </div>
  </div>
</div>